.header {
	position: fixed;
	z-index: 50;
	width: 100%;
	top: 0;
	left: 0;
	padding: rem(20) 0;

	// .header__inner
	&__inner {
	}

	// .header__menu
	&__menu {
	}
}

.menu {

	// .menu__body
	&__body {
	}

	// .menu__list
	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: rem(10);
	}

	// .menu__item
	&__item {
		&:not(:last-child){
			&::after {
				content:''; 
				float: right;
				width: rem(1);
				height: rem(18); 
				background-color: #47505e;
				margin-left: rem(10);
			}
		}
	}

	// .menu__link
	&__link {
		font-weight: 300;
		font-size: rem(14);
		line-height: 120%;
		letter-spacing: 0;
		color: #83888f;
		transition: $transition;
		&._active{
			color: $mainLightColor;
		}
		@media (any-hover: hover){
			 &:hover { 
				color: $mainLightColor;
				&._active{
					color: #83888f;
				}
			} 
		}
	}
}


//====================================================================================================

// Анимация header scroll
// .header {
// 	@media (min-width: 1025px) {
// 		transform: translateY(0); 
// 		position: fixed;
// 		top: 0;
// 		left: 0;
// 		width: 100%;
// 		transition: all 0.4s ease 0.1s;
// 	}
// 	&._header-scroll {
// 		transform: translateY(-200%);
// 		width: 100%;
// 		background-color: #fff;
// 		box-shadow: 0 0 rem(5) rgba(0, 0, 0, 0.5);
// 	}
// 	&._header-show {
// 		top: 0%;
// 		transform: translateY(0);
// 	}
// }

// // Убираем скачок при блокировке 
// .lock .header {
// 	@media (min-width:em(1025)){
// 		left: auto;
// 		right: rem(3.3);
// 	}
// }
//========================================================================================================================================================

//Burger
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		flex: 0 0 rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}

